/* värvid */

.dark-gold {
    color: #8E793E}
.light-gold {
    color: #AD974F}
.intellectual-grey {
    background-color: #231F20}
.light-grey {
    background-color: #3a3335}

 /* värvid */

    /*  Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }
    
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... } */

body {
    color: white;
    font-family: roboto, sans-serif;
    font-weight: 100
}

.main img{
    max-width: 576px;
    height: auto;
    
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white;
    margin-top: 3em;
    margin-bottom: 5rem;
}

div.main-img, p{
    display: flex;
    margin: 1em 0;
    padding-left: 0;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    
}


.main p{
    flex-direction: column;
    font-weight: 100;
    padding: 0 5em;


}


#nav-content{
    margin-left:5px;
    color: #AD974F;
    font-size: medium;
    font-weight: 100;
    
    
}

#nav-bar{
    position: fixed;
    padding:0;
    border-bottom: solid 2px;
    border-color: #AD974F;
    position: fixed; 
    top: 0; 
    width: 100%;
    ;

} 

#nav-content:hover{
    color: #8E793E;
    cursor: pointer;
}



.main span.camera-icon-text{
    color: #8E793E;
    padding-bottom: 1em;

}

div.footer{
  
    color: #AD974F;
    font-weight: 100;
    font-size: small;
    display: flex;
    justify-content: center;

    padding:0;
    margin-left: 0;

}



div.footer p{
    padding:0;
    margin: 1em;
    margin-left: 5px;    
}

div.footer a{
    text-decoration: none;
    color: #AD974F
}

div.footer a:hover{
    cursor: pointer;
}

/* --- tablet/large --- view */
@media(max-width:992px){

    .main{
        display: inline;
    }

    div.main-img{
        margin: 4em 0;
    }

    .camera-icon-text{
        display: none;
    }
}


/* --- mobile view --- */

@media(max-width:576px)
{



#insta-logo{
    width: 30px;
    height: 30px;
}

.arx{
    display: none;;
}

#nav-content{
    margin: 5px 5px;
    padding:0;
    display: flex;
    flex-direction: row;
    
}

body div.main-img {
    padding:0;
    margin:0;
}

body .main p{
    margin:2rem;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.main img{
    margin: 0;
    padding: 0;
}

.main{
    display: inline;
}

span.camera-icon-text{
    display: none;
}

.main img{
    max-width:  auto;
    max-height: 576px;

}

div.footer{
    border:none;
}

/* Esimene border (default) */

div.main p{
    border-left: solid 2px #AD974F;
    text-align: start;
}

/* Teine border (default) */

div.main p.dif-border-1{
background-color: #3a3335;
}

/* kolmas border */

div.main p.dif-border-2{
    border: solid 2px #AD974F;
    border-radius: 10px;
    border-image: 
    linear-gradient(
      to bottom, 
      #AD974F, 
      #231F20
    ) 1 100%;
}

}
